<form action="/subscribe" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="number" name="zipCode" placeholder="ZipCode" pattern="[0-9]5">
    <input type="submit" name="submit">
</form>